.search{
    display:block;
    width:300px;
    margin-bottom:20px;
}
.vid{
    width:100%;
}


.thumb{
    margin-bottom: 10px;
}
.channeldp{
    display: inline-block;
    vertical-align: top;
    width: 40px;
}
.icon{
    border-radius: 50px;
    width: 40px;
    margin-right: 10px;
}
.details{
    display:grid;
    grid-template-columns: 50px 1fr;
    
}
.info{
    width:260px;
    display: inline-block;
}
.title{

    margin:0;
    margin-bottom: 10px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.owner{
    margin: 0;
    margin-bottom: 2px;
    font-family: Roboto;
    color: rgb(96,96,96);
    font-size: 12px;
}
.stat{
    margin: 0;
    font-family: Roboto;
    font-size: 13px;
    color: rgb(96,96,96);
}
.grid-videos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}